/* Styling form and resume sections */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #121212;
    color: #00f2ff;
}

form {
    margin: auto;
    background-color: #1c1c1e;
    border: 2px solid #00f2ff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lighter shadow */
    padding: 20px;
    max-width: 600px;
    color: #ffffff;
}

h1 {
    text-align: center;
    color: #00f2ff;
    font-size: 32px;
    margin-bottom: 20px;
}

fieldset {
    border: 2px solid #00f2ff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #1c1c1e
}

legend {
    font-weight: bold;
    text-align: left;
    color: #00f2ff;
    padding: 0 10px;
}

label {
    display: block;
    margin-top: 10px;
    color: #00e0e0;
}

input,
textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 16px);
    border: 1px solid #00f2ff;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #121212;
    color: #00f2ff;
}

button {
    display: block;
    width: 100%;
    background-color: #00f2ff;
    color: #121212;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly lighter shadow */
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #00e0e0
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #00f2ff;
    border-radius: 8px;
    background-color: #1c1c1e;
    color: #00f2ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lighter shadow */
    font-size: 16px;
    /*Making the resume editable*/
    outline: none;
}

#resume-display h2,
#resume-display h3 {
    color: #00f2ff;
    border-bottom: 1px solid #00f2ff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
    line-height: 1.5;
}
